#activites h2{
    padding: 30px 0px 0px 0px;

}
.imgactivity {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0px;
    gap:20px

}
.img a{
    border-radius: 25px;
    flex-grow: 0.4;
}
.imgactivity p{
    padding-left: 19px;
}

.img img{
    height: 350px;
    width: 302px;
    border-radius: 25px 25px 0px 0px;
    flex-grow: 1.2;
    object-fit: cover;
}
.img{
    border: 3px solid transparent;
    border-radius: 25px;
    box-shadow: 0px 1px var(--lightgrey);
}

