.listpopular{
    flex-basis: 33%;
    background-color: var(--lightgrey);
    border-radius: 25px;
}
.titre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}
.titre img{
    height: 15px;
    width: 18px;
}
.listpopular h2{
    padding-left: 10px;
}
.listpopular h3{
    padding: 0px;
    margin: 2px;
    font-size: 15px;
}
.resultspop{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.cardspop{
    border: 3px solid white;
    display: flex;
    flex-direction:column-reverse;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
}
.cardspop img {
    display: flex;
    flex-direction: row;
    min-height: 144px;
    max-height: 144px;
    width: 137px;
    border-radius: 25px 0px 0px 25px;
    object-fit: cover;
}
.cardspop a{
    display: flex;
    margin: 0;
}
.cardspop p{
    padding-top: 5px;
}
.cardspop i{
    padding-top: 5%;
    font-size: 12px;
}
.infocards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

